.staggered-list-content {
  width: max-content;
  display: flex;
  flex-direction: column-reverse;
}
.list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding: 0;
  width: max-content;
}
.avatar {
  width: 4rem;
  height: 4rem;
  border-radius: 100px;
  background-color: red;
  margin-right: 2rem;
  cursor: pointer;
}
.avatarExpanded {
  width: 8rem;
  height: 8rem;
  margin-right: 0;
  margin-bottom: 1rem;
}
.expandedListItem {
  cursor: pointer;
  background-color: transparent;
}

/* content fade in animations */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
  }
}
