@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
}

:root {
  font-family: "Comfortaa", cursive;

  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}
